<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hapened.hapened" >
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <receiver android:name=".Notify" android:process=":remote" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoadScreen"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListAll"
            android:label="Happened" >
        </activity>
        <activity
            android:name=".Edit"
            android:label="@string/title_activity_edit"
            android:parentActivityName=".ListAll" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.hapened.hapened.ListAll" />
>
        </activity>
        <activity
            android:name=".SA"
            android:label="@string/title_activity_s"
            android:parentActivityName=".ListAll" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.hapened.hapened.ListAll" />
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="15"
        android:targetSdkVersion="23"
        android:maxSdkVersion="23" />


</manifest>
